<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>CHG</key>
		<real>0.14000000059604645</real>
		<key>HIGH</key>
		<real>11.020000457763672</real>
		<key>LCLOSE</key>
		<real>10.689999580383301</real>
		<key>LOW</key>
		<real>10.739999771118164</real>
		<key>MCAP</key>
		<real>317883685871</real>
		<key>PCHG</key>
		<real>1.3095999956130981</real>
		<key>TCAP</key>
		<real>317883685871</real>
		<key>TCLOSE</key>
		<real>10.829999923706055</real>
		<key>TOPEN</key>
		<real>10.800000190734863</real>
		<key>TURNOVER</key>
		<real>0.48849999904632568</real>
		<key>VATURNOVER</key>
		<real>1558504811</real>
		<key>VOTURNOVER</key>
		<real>143397923</real>
		<key>code</key>
		<string>'600000</string>
		<key>date</key>
		<string>2021-02-18</string>
		<key>max</key>
		<false/>
		<key>min</key>
		<false/>
		<key>name</key>
		<string>浦发银行</string>
	</dict>
	<dict>
		<key>CHG</key>
		<real>0.75</real>
		<key>HIGH</key>
		<real>13.170000076293945</real>
		<key>LCLOSE</key>
		<real>12.25</real>
		<key>LOW</key>
		<real>12.399999618530273</real>
		<key>MCAP</key>
		<real>26901166682</real>
		<key>PCHG</key>
		<real>6.1223998069763184</real>
		<key>TCAP</key>
		<real>30767337679</real>
		<key>TCLOSE</key>
		<real>13</real>
		<key>TOPEN</key>
		<real>12.579999923706055</real>
		<key>TURNOVER</key>
		<real>1.8947999477386475</real>
		<key>VATURNOVER</key>
		<real>502077820</real>
		<key>VOTURNOVER</key>
		<real>39209837</real>
		<key>code</key>
		<string>'600004</string>
		<key>date</key>
		<string>2021-02-18</string>
		<key>max</key>
		<false/>
		<key>min</key>
		<false/>
		<key>name</key>
		<string>白云机场</string>
	</dict>
	<dict>
		<key>CHG</key>
		<real>0.63999998569488525</real>
		<key>HIGH</key>
		<real>7.059999942779541</real>
		<key>LCLOSE</key>
		<real>6.4200000762939453</real>
		<key>LOW</key>
		<real>6.4499998092651367</real>
		<key>MCAP</key>
		<real>14120000000</real>
		<key>PCHG</key>
		<real>9.9687995910644531</real>
		<key>TCAP</key>
		<real>14120000000</real>
		<key>TCLOSE</key>
		<real>7.059999942779541</real>
		<key>TOPEN</key>
		<real>6.5199999809265137</real>
		<key>TURNOVER</key>
		<real>4.2519001960754395</real>
		<key>VATURNOVER</key>
		<real>579430659</real>
		<key>VOTURNOVER</key>
		<real>85037424</real>
		<key>code</key>
		<string>'600006</string>
		<key>date</key>
		<string>2021-02-18</string>
		<key>max</key>
		<false/>
		<key>min</key>
		<false/>
		<key>name</key>
		<string>东风汽车</string>
	</dict>
	<dict>
		<key>CHG</key>
		<real>0.10000000149011612</real>
		<key>HIGH</key>
		<real>11.649999618530273</real>
		<key>LCLOSE</key>
		<real>11.479999542236328</real>
		<key>LOW</key>
		<real>11.560000419616699</real>
		<key>MCAP</key>
		<real>11664331743.700001</real>
		<key>PCHG</key>
		<real>0.87110000848770142</real>
		<key>TCAP</key>
		<real>11664331743.700001</real>
		<key>TCLOSE</key>
		<real>11.579999923706055</real>
		<key>TOPEN</key>
		<real>11.590000152587891</real>
		<key>TURNOVER</key>
		<real>0.10530000180006027</real>
		<key>VATURNOVER</key>
		<real>12301427</real>
		<key>VOTURNOVER</key>
		<real>1060364</real>
		<key>code</key>
		<string>'600007</string>
		<key>date</key>
		<string>2021-02-18</string>
		<key>max</key>
		<false/>
		<key>min</key>
		<false/>
		<key>name</key>
		<string>中国国贸</string>
	</dict>
	<dict>
		<key>CHG</key>
		<real>0.029999999329447746</real>
		<key>HIGH</key>
		<real>2.7899999618530273</real>
		<key>LCLOSE</key>
		<real>2.7400000095367432</real>
		<key>LOW</key>
		<real>2.7599999904632568</real>
		<key>MCAP</key>
		<real>20333436175.299999</real>
		<key>PCHG</key>
		<real>1.0949000120162964</real>
		<key>TCAP</key>
		<real>20333436175.299999</real>
		<key>TCLOSE</key>
		<real>2.7699999809265137</real>
		<key>TOPEN</key>
		<real>2.7599999904632568</real>
		<key>TURNOVER</key>
		<real>0.46990001201629639</real>
		<key>VATURNOVER</key>
		<real>95508240</real>
		<key>VOTURNOVER</key>
		<real>34495545</real>
		<key>code</key>
		<string>'600008</string>
		<key>date</key>
		<string>2021-02-18</string>
		<key>max</key>
		<false/>
		<key>min</key>
		<false/>
		<key>name</key>
		<string>首创股份</string>
	</dict>
	<dict>
		<key>CHG</key>
		<real>2.3199999332427979</real>
		<key>HIGH</key>
		<real>61.560001373291016</real>
		<key>LCLOSE</key>
		<real>58.180000305175781</real>
		<key>LOW</key>
		<real>58.200000762939453</real>
		<key>MCAP</key>
		<real>66155322018.5</real>
		<key>PCHG</key>
		<real>3.9876000881195068</real>
		<key>TCAP</key>
		<real>116580986104</real>
		<key>TCLOSE</key>
		<real>60.5</real>
		<key>TOPEN</key>
		<real>59.5</real>
		<key>TURNOVER</key>
		<real>7.178800106048584</real>
		<key>VATURNOVER</key>
		<real>4721887426</real>
		<key>VOTURNOVER</key>
		<real>78498099</real>
		<key>code</key>
		<string>'600009</string>
		<key>date</key>
		<string>2021-02-18</string>
		<key>max</key>
		<false/>
		<key>min</key>
		<false/>
		<key>name</key>
		<string>上海机场</string>
	</dict>
	<dict>
		<key>CHG</key>
		<real>0.05000000074505806</real>
		<key>HIGH</key>
		<real>1.2200000286102295</real>
		<key>LCLOSE</key>
		<real>1.1499999761581421</real>
		<key>LOW</key>
		<real>1.1599999666213989</real>
		<key>MCAP</key>
		<real>38012653904.400002</real>
		<key>PCHG</key>
		<real>4.3477997779846191</real>
		<key>TCAP</key>
		<real>54702039177.599998</real>
		<key>TCLOSE</key>
		<real>1.2000000476837158</real>
		<key>TOPEN</key>
		<real>1.1699999570846558</real>
		<key>TURNOVER</key>
		<real>2.7047998905181885</real>
		<key>VATURNOVER</key>
		<real>1016264014</real>
		<key>VOTURNOVER</key>
		<real>856802991</real>
		<key>code</key>
		<string>'600010</string>
		<key>date</key>
		<string>2021-02-18</string>
		<key>max</key>
		<false/>
		<key>min</key>
		<false/>
		<key>name</key>
		<string>包钢股份</string>
	</dict>
	<dict>
		<key>CHG</key>
		<real>0.10000000149011612</real>
		<key>HIGH</key>
		<real>3.9500000476837158</real>
		<key>LCLOSE</key>
		<real>3.8399999141693115</real>
		<key>LOW</key>
		<real>3.869999885559082</real>
		<key>MCAP</key>
		<real>43330977080.900002</real>
		<key>PCHG</key>
		<real>2.6041998863220215</real>
		<key>TCAP</key>
		<real>61850487834.5</real>
		<key>TCLOSE</key>
		<real>3.940000057220459</real>
		<key>TOPEN</key>
		<real>3.869999885559082</real>
		<key>TURNOVER</key>
		<real>0.45719999074935913</real>
		<key>VATURNOVER</key>
		<real>196455856</real>
		<key>VOTURNOVER</key>
		<real>50281226</real>
		<key>code</key>
		<string>'600011</string>
		<key>date</key>
		<string>2021-02-18</string>
		<key>max</key>
		<false/>
		<key>min</key>
		<false/>
		<key>name</key>
		<string>华能国际</string>
	</dict>
	<dict>
		<key>CHG</key>
		<real>0.10000000149011612</real>
		<key>HIGH</key>
		<real>5.9600000381469727</real>
		<key>LCLOSE</key>
		<real>5.8299999237060547</real>
		<key>LOW</key>
		<real>5.8299999237060547</real>
		<key>MCAP</key>
		<real>6912008000</real>
		<key>PCHG</key>
		<real>1.7152999639511108</real>
		<key>TCAP</key>
		<real>9835557300</real>
		<key>TCLOSE</key>
		<real>5.929999828338623</real>
		<key>TOPEN</key>
		<real>5.8899998664855957</real>
		<key>TURNOVER</key>
		<real>0.4611000120639801</real>
		<key>VATURNOVER</key>
		<real>31752580</real>
		<key>VOTURNOVER</key>
		<real>5374973</real>
		<key>code</key>
		<string>'600012</string>
		<key>date</key>
		<string>2021-02-18</string>
		<key>max</key>
		<false/>
		<key>min</key>
		<false/>
		<key>name</key>
		<string>皖通高速</string>
	</dict>
</array>
</plist>
