<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>600000</string>
	<string>600007</string>
	<string>600038</string>
	<string>600053</string>
	<string>600089</string>
	<string>600119</string>
	<string>600120</string>
	<string>600183</string>
	<string>600193</string>
	<string>600210</string>
	<string>600213</string>
	<string>600265</string>
	<string>600266</string>
	<string>600291</string>
	<string>600303</string>
	<string>600363</string>
	<string>600381</string>
	<string>600389</string>
	<string>600415</string>
	<string>600452</string>
	<string>600460</string>
	<string>600526</string>
	<string>600532</string>
	<string>600540</string>
	<string>600543</string>
	<string>600552</string>
	<string>600557</string>
	<string>600573</string>
	<string>600592</string>
	<string>600609</string>
	<string>600616</string>
	<string>600642</string>
	<string>600686</string>
	<string>600733</string>
	<string>600767</string>
	<string>600784</string>
	<string>600864</string>
	<string>600896</string>
	<string>600903</string>
	<string>600908</string>
	<string>600909</string>
	<string>600928</string>
	<string>600965</string>
	<string>600967</string>
	<string>600983</string>
	<string>601038</string>
	<string>601126</string>
	<string>601139</string>
	<string>601169</string>
	<string>601198</string>
	<string>601398</string>
	<string>601579</string>
	<string>601601</string>
	<string>601607</string>
	<string>601678</string>
	<string>601717</string>
	<string>601860</string>
	<string>601878</string>
	<string>601901</string>
	<string>601939</string>
	<string>601995</string>
	<string>601998</string>
	<string>603000</string>
	<string>603033</string>
	<string>603042</string>
	<string>603079</string>
	<string>603086</string>
	<string>603089</string>
	<string>603108</string>
	<string>603158</string>
	<string>603167</string>
	<string>603198</string>
	<string>603200</string>
	<string>603203</string>
	<string>603222</string>
	<string>603290</string>
	<string>603335</string>
	<string>603368</string>
	<string>603444</string>
	<string>603477</string>
	<string>603499</string>
	<string>603580</string>
	<string>603601</string>
	<string>603612</string>
	<string>603615</string>
	<string>603626</string>
	<string>603656</string>
	<string>603663</string>
	<string>603690</string>
	<string>603711</string>
	<string>603721</string>
	<string>603727</string>
	<string>603788</string>
	<string>603829</string>
	<string>603859</string>
	<string>603885</string>
	<string>603886</string>
	<string>603909</string>
	<string>603992</string>
	<string>000003</string>
	<string>000018</string>
	<string>000030</string>
	<string>000050</string>
	<string>000076</string>
	<string>000116</string>
	<string>000428</string>
	<string>000519</string>
	<string>000534</string>
	<string>000546</string>
	<string>000551</string>
	<string>000561</string>
	<string>000572</string>
	<string>000625</string>
	<string>000628</string>
	<string>000637</string>
	<string>000639</string>
	<string>000659</string>
	<string>000668</string>
	<string>000718</string>
	<string>000729</string>
	<string>000732</string>
	<string>000766</string>
	<string>000789</string>
	<string>000790</string>
	<string>000828</string>
	<string>000851</string>
	<string>000887</string>
	<string>000925</string>
	<string>000935</string>
	<string>000962</string>
	<string>000989</string>
	<string>000995</string>
	<string>000999</string>
	<string>002048</string>
	<string>002059</string>
	<string>002063</string>
	<string>002088</string>
	<string>002099</string>
	<string>002106</string>
	<string>002117</string>
	<string>002142</string>
	<string>002144</string>
	<string>002162</string>
	<string>002174</string>
	<string>002183</string>
	<string>002186</string>
	<string>002190</string>
	<string>002215</string>
	<string>002218</string>
	<string>002238</string>
	<string>002256</string>
	<string>002293</string>
	<string>002298</string>
	<string>002301</string>
	<string>002308</string>
	<string>002317</string>
	<string>002362</string>
	<string>002366</string>
	<string>002377</string>
	<string>002392</string>
	<string>002411</string>
	<string>002454</string>
	<string>002455</string>
	<string>002462</string>
	<string>002481</string>
	<string>002494</string>
	<string>002503</string>
	<string>002518</string>
	<string>002529</string>
	<string>002537</string>
	<string>002555</string>
	<string>002558</string>
	<string>002590</string>
	<string>002605</string>
	<string>002618</string>
	<string>002626</string>
	<string>002646</string>
	<string>002653</string>
	<string>002672</string>
	<string>002682</string>
	<string>002685</string>
	<string>002697</string>
	<string>002702</string>
	<string>002726</string>
	<string>002743</string>
	<string>002769</string>
	<string>002771</string>
	<string>002781</string>
	<string>002813</string>
	<string>002818</string>
	<string>002831</string>
	<string>002836</string>
	<string>002838</string>
	<string>002859</string>
	<string>002864</string>
	<string>002878</string>
	<string>002890</string>
	<string>002891</string>
	<string>002893</string>
	<string>002900</string>
	<string>002927</string>
	<string>002935</string>
	<string>002939</string>
	<string>002949</string>
	<string>002984</string>
	<string>300010</string>
	<string>300039</string>
	<string>300054</string>
	<string>300055</string>
	<string>300058</string>
	<string>300064</string>
	<string>300088</string>
	<string>300097</string>
	<string>300131</string>
	<string>300146</string>
	<string>300159</string>
	<string>300168</string>
	<string>300177</string>
	<string>300191</string>
	<string>300195</string>
	<string>300196</string>
	<string>300197</string>
	<string>300239</string>
	<string>300253</string>
	<string>300262</string>
	<string>300284</string>
	<string>300288</string>
	<string>300292</string>
	<string>300293</string>
	<string>300296</string>
	<string>300297</string>
	<string>300305</string>
	<string>300311</string>
	<string>300334</string>
	<string>300335</string>
	<string>300338</string>
	<string>300340</string>
	<string>300348</string>
	<string>300349</string>
	<string>300364</string>
	<string>300376</string>
	<string>300424</string>
	<string>300444</string>
	<string>300458</string>
	<string>300474</string>
	<string>300480</string>
	<string>300514</string>
	<string>300515</string>
	<string>300532</string>
	<string>300559</string>
	<string>300564</string>
	<string>300576</string>
	<string>300629</string>
	<string>300635</string>
	<string>300649</string>
	<string>300651</string>
	<string>300663</string>
	<string>300666</string>
	<string>300690</string>
	<string>300696</string>
	<string>300742</string>
	<string>300751</string>
	<string>300757</string>
	<string>300792</string>
	<string>300801</string>
	<string>300828</string>
	<string>300839</string>
	<string>300860</string>
	<string>300863</string>
	<string>300895</string>
	<string>300926</string>
	<string>300937</string>
	<string>300938</string>
	<string>300945</string>
</array>
</plist>
