<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>600015</string>
	<string>600037</string>
	<string>600079</string>
	<string>600082</string>
	<string>600099</string>
	<string>600118</string>
	<string>600177</string>
	<string>600223</string>
	<string>600260</string>
	<string>600375</string>
	<string>600389</string>
	<string>600408</string>
	<string>600422</string>
	<string>600426</string>
	<string>600455</string>
	<string>600475</string>
	<string>600487</string>
	<string>600498</string>
	<string>600508</string>
	<string>600516</string>
	<string>600567</string>
	<string>600647</string>
	<string>600658</string>
	<string>600676</string>
	<string>600695</string>
	<string>600717</string>
	<string>600775</string>
	<string>600782</string>
	<string>600787</string>
	<string>600789</string>
	<string>600802</string>
	<string>600850</string>
	<string>600862</string>
	<string>600867</string>
	<string>600879</string>
	<string>600889</string>
	<string>600895</string>
	<string>600898</string>
	<string>600901</string>
	<string>600971</string>
	<string>600990</string>
	<string>600996</string>
	<string>601007</string>
	<string>601009</string>
	<string>601187</string>
	<string>601211</string>
	<string>601229</string>
	<string>601555</string>
	<string>601628</string>
	<string>601668</string>
	<string>601677</string>
	<string>601702</string>
	<string>601869</string>
	<string>601890</string>
	<string>601900</string>
	<string>603018</string>
	<string>603068</string>
	<string>603118</string>
	<string>603220</string>
	<string>603229</string>
	<string>603286</string>
	<string>603297</string>
	<string>603305</string>
	<string>603318</string>
	<string>603363</string>
	<string>603387</string>
	<string>603458</string>
	<string>603527</string>
	<string>603533</string>
	<string>603559</string>
	<string>603583</string>
	<string>603588</string>
	<string>603602</string>
	<string>603633</string>
	<string>603686</string>
	<string>603718</string>
	<string>603729</string>
	<string>603767</string>
	<string>603833</string>
	<string>603890</string>
	<string>603929</string>
	<string>000009</string>
	<string>000015</string>
	<string>000020</string>
	<string>000021</string>
	<string>000023</string>
	<string>000025</string>
	<string>000054</string>
	<string>000070</string>
	<string>000096</string>
	<string>000404</string>
	<string>000537</string>
	<string>000600</string>
	<string>000616</string>
	<string>000666</string>
	<string>000669</string>
	<string>000671</string>
	<string>000685</string>
	<string>000712</string>
	<string>000783</string>
	<string>000789</string>
	<string>000804</string>
	<string>000875</string>
	<string>000893</string>
	<string>000899</string>
	<string>000937</string>
	<string>000951</string>
	<string>000960</string>
	<string>002039</string>
	<string>002066</string>
	<string>002084</string>
	<string>002091</string>
	<string>002093</string>
	<string>002119</string>
	<string>002144</string>
	<string>002206</string>
	<string>002243</string>
	<string>002253</string>
	<string>002272</string>
	<string>002299</string>
	<string>002339</string>
	<string>002392</string>
	<string>002434</string>
	<string>002449</string>
	<string>002452</string>
	<string>002484</string>
	<string>002496</string>
	<string>002500</string>
	<string>002514</string>
	<string>002515</string>
	<string>002563</string>
	<string>002742</string>
	<string>002749</string>
	<string>002768</string>
	<string>002779</string>
	<string>002785</string>
	<string>002809</string>
	<string>002824</string>
	<string>002878</string>
	<string>002882</string>
	<string>002897</string>
	<string>002900</string>
	<string>002965</string>
	<string>002967</string>
	<string>300055</string>
	<string>300059</string>
	<string>300063</string>
	<string>300107</string>
	<string>300165</string>
	<string>300183</string>
	<string>300191</string>
	<string>300197</string>
	<string>300225</string>
	<string>300245</string>
	<string>300248</string>
	<string>300254</string>
	<string>300256</string>
	<string>300269</string>
	<string>300271</string>
	<string>300290</string>
	<string>300292</string>
	<string>300302</string>
	<string>300333</string>
	<string>300340</string>
	<string>300349</string>
	<string>300358</string>
	<string>300374</string>
	<string>300405</string>
	<string>300421</string>
	<string>300430</string>
	<string>300457</string>
	<string>300489</string>
	<string>300602</string>
	<string>300604</string>
	<string>300606</string>
	<string>300628</string>
	<string>300681</string>
	<string>300697</string>
	<string>300698</string>
	<string>300700</string>
	<string>300753</string>
	<string>300765</string>
	<string>300778</string>
	<string>300796</string>
</array>
</plist>
