<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>600004</string>
	<string>600009</string>
	<string>600018</string>
	<string>600053</string>
	<string>600056</string>
	<string>600060</string>
	<string>600073</string>
	<string>600078</string>
	<string>600093</string>
	<string>600099</string>
	<string>600100</string>
	<string>600103</string>
	<string>600105</string>
	<string>600107</string>
	<string>600129</string>
	<string>600153</string>
	<string>600162</string>
	<string>600163</string>
	<string>600169</string>
	<string>600179</string>
	<string>600182</string>
	<string>600212</string>
	<string>600213</string>
	<string>600229</string>
	<string>600261</string>
	<string>600289</string>
	<string>600299</string>
	<string>600306</string>
	<string>600343</string>
	<string>600345</string>
	<string>600351</string>
	<string>600353</string>
	<string>600356</string>
	<string>600369</string>
	<string>600392</string>
	<string>600399</string>
	<string>600416</string>
	<string>600418</string>
	<string>600438</string>
	<string>600458</string>
	<string>600475</string>
	<string>600478</string>
	<string>600480</string>
	<string>600487</string>
	<string>600501</string>
	<string>600528</string>
	<string>600543</string>
	<string>600545</string>
	<string>600552</string>
	<string>600571</string>
	<string>600579</string>
	<string>600589</string>
	<string>600590</string>
	<string>600592</string>
	<string>600619</string>
	<string>600629</string>
	<string>600633</string>
	<string>600637</string>
	<string>600643</string>
	<string>600658</string>
	<string>600673</string>
	<string>600693</string>
	<string>600705</string>
	<string>600715</string>
	<string>600727</string>
	<string>600728</string>
	<string>600736</string>
	<string>600739</string>
	<string>600742</string>
	<string>600770</string>
	<string>600789</string>
	<string>600796</string>
	<string>600801</string>
	<string>600804</string>
	<string>600805</string>
	<string>600843</string>
	<string>600844</string>
	<string>600864</string>
	<string>600866</string>
	<string>600867</string>
	<string>600875</string>
	<string>600880</string>
	<string>600896</string>
	<string>600919</string>
	<string>600956</string>
	<string>600966</string>
	<string>600993</string>
	<string>601020</string>
	<string>601111</string>
	<string>601155</string>
	<string>601158</string>
	<string>601179</string>
	<string>601238</string>
	<string>601298</string>
	<string>601319</string>
	<string>601330</string>
	<string>601339</string>
	<string>601375</string>
	<string>601388</string>
	<string>601390</string>
	<string>601512</string>
	<string>601588</string>
	<string>601601</string>
	<string>601606</string>
	<string>601607</string>
	<string>601677</string>
	<string>601798</string>
	<string>601800</string>
	<string>601801</string>
	<string>601827</string>
	<string>601886</string>
	<string>601890</string>
	<string>601900</string>
	<string>601916</string>
	<string>601929</string>
	<string>603009</string>
	<string>603013</string>
	<string>603055</string>
	<string>603083</string>
	<string>603090</string>
	<string>603096</string>
	<string>603108</string>
	<string>603121</string>
	<string>603133</string>
	<string>603161</string>
	<string>603165</string>
	<string>603180</string>
	<string>603186</string>
	<string>603195</string>
	<string>603278</string>
	<string>603290</string>
	<string>603297</string>
	<string>603332</string>
	<string>603335</string>
	<string>603357</string>
	<string>603363</string>
	<string>603367</string>
	<string>603368</string>
	<string>603499</string>
	<string>603505</string>
	<string>603507</string>
	<string>603517</string>
	<string>603586</string>
	<string>603598</string>
	<string>603602</string>
	<string>603607</string>
	<string>603639</string>
	<string>603648</string>
	<string>603650</string>
	<string>603657</string>
	<string>603661</string>
	<string>603665</string>
	<string>603669</string>
	<string>603679</string>
	<string>603685</string>
	<string>603686</string>
	<string>603687</string>
	<string>603688</string>
	<string>603693</string>
	<string>603698</string>
	<string>603706</string>
	<string>603737</string>
	<string>603755</string>
	<string>603758</string>
	<string>603768</string>
	<string>603790</string>
	<string>603799</string>
	<string>603808</string>
	<string>603829</string>
	<string>603880</string>
	<string>603882</string>
	<string>603885</string>
	<string>603886</string>
	<string>603897</string>
	<string>603900</string>
	<string>603903</string>
	<string>603908</string>
	<string>603917</string>
	<string>603918</string>
	<string>603977</string>
	<string>603998</string>
	<string>000014</string>
	<string>000016</string>
	<string>000019</string>
	<string>000023</string>
	<string>000030</string>
	<string>000033</string>
	<string>000040</string>
	<string>000050</string>
	<string>000051</string>
	<string>000056</string>
	<string>000065</string>
	<string>000067</string>
	<string>000078</string>
	<string>000079</string>
	<string>000089</string>
	<string>000092</string>
	<string>000093</string>
	<string>000100</string>
	<string>000105</string>
	<string>000110</string>
	<string>000120</string>
	<string>000128</string>
	<string>000129</string>
	<string>000130</string>
	<string>000135</string>
	<string>000139</string>
	<string>000153</string>
	<string>000158</string>
	<string>000404</string>
	<string>000415</string>
	<string>000416</string>
	<string>000425</string>
	<string>000428</string>
	<string>000429</string>
	<string>000430</string>
	<string>000504</string>
	<string>000514</string>
	<string>000521</string>
	<string>000524</string>
	<string>000548</string>
	<string>000560</string>
	<string>000563</string>
	<string>000567</string>
	<string>000570</string>
	<string>000593</string>
	<string>000597</string>
	<string>000600</string>
	<string>000612</string>
	<string>000617</string>
	<string>000631</string>
	<string>000637</string>
	<string>000657</string>
	<string>000666</string>
	<string>000676</string>
	<string>000685</string>
	<string>000701</string>
	<string>000702</string>
	<string>000716</string>
	<string>000722</string>
	<string>000728</string>
	<string>000731</string>
	<string>000736</string>
	<string>000750</string>
	<string>000751</string>
	<string>000756</string>
	<string>000767</string>
	<string>000783</string>
	<string>000786</string>
	<string>000789</string>
	<string>000797</string>
	<string>000800</string>
	<string>000807</string>
	<string>000818</string>
	<string>000823</string>
	<string>000830</string>
	<string>000831</string>
	<string>000832</string>
	<string>000836</string>
	<string>000851</string>
	<string>000854</string>
	<string>000856</string>
	<string>000865</string>
	<string>000868</string>
	<string>000877</string>
	<string>000880</string>
	<string>000883</string>
	<string>000899</string>
	<string>000902</string>
	<string>000903</string>
	<string>000911</string>
	<string>000912</string>
	<string>000929</string>
	<string>000948</string>
	<string>000955</string>
	<string>000972</string>
	<string>000978</string>
	<string>000990</string>
	<string>000999</string>
	<string>002001</string>
	<string>002021</string>
	<string>002023</string>
	<string>002036</string>
	<string>002063</string>
	<string>002064</string>
	<string>002065</string>
	<string>002079</string>
	<string>002082</string>
	<string>002085</string>
	<string>002088</string>
	<string>002090</string>
	<string>002097</string>
	<string>002103</string>
	<string>002108</string>
	<string>002112</string>
	<string>002123</string>
	<string>002125</string>
	<string>002137</string>
	<string>002144</string>
	<string>002154</string>
	<string>002167</string>
	<string>002169</string>
	<string>002173</string>
	<string>002174</string>
	<string>002183</string>
	<string>002193</string>
	<string>002205</string>
	<string>002217</string>
	<string>002218</string>
	<string>002224</string>
	<string>002231</string>
	<string>002237</string>
	<string>002239</string>
	<string>002243</string>
	<string>002244</string>
	<string>002253</string>
	<string>002261</string>
	<string>002263</string>
	<string>002264</string>
	<string>002268</string>
	<string>002283</string>
	<string>002284</string>
	<string>002289</string>
	<string>002292</string>
	<string>002293</string>
	<string>002298</string>
	<string>002300</string>
	<string>002308</string>
	<string>002309</string>
	<string>002310</string>
	<string>002313</string>
	<string>002317</string>
	<string>002323</string>
	<string>002328</string>
	<string>002329</string>
	<string>002337</string>
	<string>002340</string>
	<string>002341</string>
	<string>002346</string>
	<string>002349</string>
	<string>002354</string>
	<string>002364</string>
	<string>002372</string>
	<string>002373</string>
	<string>002377</string>
	<string>002386</string>
	<string>002392</string>
	<string>002393</string>
	<string>002394</string>
	<string>002397</string>
	<string>002413</string>
	<string>002417</string>
	<string>002428</string>
	<string>002431</string>
	<string>002437</string>
	<string>002440</string>
	<string>002448</string>
	<string>002449</string>
	<string>002454</string>
	<string>002457</string>
	<string>002459</string>
	<string>002460</string>
	<string>002462</string>
	<string>002468</string>
	<string>002469</string>
	<string>002472</string>
	<string>002475</string>
	<string>002480</string>
	<string>002491</string>
	<string>002495</string>
	<string>002504</string>
	<string>002506</string>
	<string>002510</string>
	<string>002515</string>
	<string>002522</string>
	<string>002528</string>
	<string>002531</string>
	<string>002532</string>
	<string>002542</string>
	<string>002547</string>
	<string>002552</string>
	<string>002560</string>
	<string>002567</string>
	<string>002578</string>
	<string>002583</string>
	<string>002584</string>
	<string>002585</string>
	<string>002587</string>
	<string>002588</string>
	<string>002590</string>
	<string>002596</string>
	<string>002598</string>
	<string>002599</string>
	<string>002606</string>
	<string>002608</string>
	<string>002609</string>
	<string>002621</string>
	<string>002634</string>
	<string>002636</string>
	<string>002639</string>
	<string>002654</string>
	<string>002655</string>
	<string>002662</string>
	<string>002665</string>
	<string>002669</string>
	<string>002670</string>
	<string>002676</string>
	<string>002683</string>
	<string>002687</string>
	<string>002696</string>
	<string>002712</string>
	<string>002714</string>
	<string>002718</string>
	<string>002722</string>
	<string>002741</string>
	<string>002743</string>
	<string>002753</string>
	<string>002757</string>
	<string>002761</string>
	<string>002786</string>
	<string>002789</string>
	<string>002790</string>
	<string>002796</string>
	<string>002807</string>
	<string>002815</string>
	<string>002819</string>
	<string>002821</string>
	<string>002823</string>
	<string>002831</string>
	<string>002835</string>
	<string>002848</string>
	<string>002853</string>
	<string>002857</string>
	<string>002859</string>
	<string>002862</string>
	<string>002868</string>
	<string>002875</string>
	<string>002877</string>
	<string>002885</string>
	<string>002909</string>
	<string>002911</string>
	<string>002915</string>
	<string>002916</string>
	<string>002917</string>
	<string>002920</string>
	<string>002923</string>
	<string>002926</string>
	<string>002933</string>
	<string>002937</string>
	<string>002941</string>
	<string>002951</string>
	<string>002953</string>
	<string>002955</string>
	<string>002958</string>
	<string>002982</string>
	<string>002984</string>
	<string>002988</string>
	<string>002990</string>
	<string>300004</string>
	<string>300015</string>
	<string>300027</string>
	<string>300032</string>
	<string>300036</string>
	<string>300039</string>
	<string>300043</string>
	<string>300051</string>
	<string>300055</string>
	<string>300064</string>
	<string>300067</string>
	<string>300070</string>
	<string>300078</string>
	<string>300085</string>
	<string>300099</string>
	<string>300105</string>
	<string>300110</string>
	<string>300114</string>
	<string>300117</string>
	<string>300121</string>
	<string>300126</string>
	<string>300128</string>
	<string>300130</string>
	<string>300137</string>
	<string>300145</string>
	<string>300147</string>
	<string>300158</string>
	<string>300170</string>
	<string>300174</string>
	<string>300176</string>
	<string>300178</string>
	<string>300180</string>
	<string>300183</string>
	<string>300185</string>
	<string>300187</string>
	<string>300188</string>
	<string>300191</string>
	<string>300194</string>
	<string>300195</string>
	<string>300199</string>
	<string>300200</string>
	<string>300202</string>
	<string>300203</string>
	<string>300204</string>
	<string>300205</string>
	<string>300210</string>
	<string>300213</string>
	<string>300215</string>
	<string>300217</string>
	<string>300219</string>
	<string>300223</string>
	<string>300227</string>
	<string>300228</string>
	<string>300231</string>
	<string>300234</string>
	<string>300235</string>
	<string>300240</string>
	<string>300255</string>
	<string>300258</string>
	<string>300267</string>
	<string>300270</string>
	<string>300271</string>
	<string>300274</string>
	<string>300279</string>
	<string>300281</string>
	<string>300284</string>
	<string>300286</string>
	<string>300287</string>
	<string>300293</string>
	<string>300303</string>
	<string>300304</string>
	<string>300309</string>
	<string>300315</string>
	<string>300316</string>
	<string>300319</string>
	<string>300321</string>
	<string>300326</string>
	<string>300329</string>
	<string>300332</string>
	<string>300335</string>
	<string>300337</string>
	<string>300341</string>
	<string>300347</string>
	<string>300348</string>
	<string>300371</string>
	<string>300374</string>
	<string>300378</string>
	<string>300384</string>
	<string>300386</string>
	<string>300389</string>
	<string>300399</string>
	<string>300403</string>
	<string>300409</string>
	<string>300414</string>
	<string>300417</string>
	<string>300418</string>
	<string>300429</string>
	<string>300435</string>
	<string>300438</string>
	<string>300445</string>
	<string>300456</string>
	<string>300463</string>
	<string>300464</string>
	<string>300468</string>
	<string>300473</string>
	<string>300476</string>
	<string>300479</string>
	<string>300481</string>
	<string>300484</string>
	<string>300485</string>
	<string>300488</string>
	<string>300505</string>
	<string>300508</string>
	<string>300510</string>
	<string>300512</string>
	<string>300534</string>
	<string>300537</string>
	<string>300542</string>
	<string>300543</string>
	<string>300546</string>
	<string>300555</string>
	<string>300557</string>
	<string>300558</string>
	<string>300561</string>
	<string>300567</string>
	<string>300570</string>
	<string>300580</string>
	<string>300581</string>
	<string>300582</string>
	<string>300583</string>
	<string>300588</string>
	<string>300597</string>
	<string>300607</string>
	<string>300608</string>
	<string>300609</string>
	<string>300615</string>
	<string>300617</string>
	<string>300620</string>
	<string>300621</string>
	<string>300628</string>
	<string>300643</string>
	<string>300648</string>
	<string>300663</string>
	<string>300670</string>
	<string>300675</string>
	<string>300683</string>
	<string>300684</string>
	<string>300688</string>
	<string>300689</string>
	<string>300690</string>
	<string>300694</string>
	<string>300697</string>
	<string>300698</string>
	<string>300707</string>
	<string>300721</string>
	<string>300729</string>
	<string>300739</string>
	<string>300746</string>
	<string>300761</string>
	<string>300766</string>
	<string>300773</string>
	<string>300778</string>
	<string>300780</string>
	<string>300782</string>
	<string>300788</string>
	<string>300824</string>
	<string>300837</string>
	<string>300845</string>
	<string>300849</string>
	<string>300857</string>
	<string>300864</string>
	<string>300867</string>
	<string>300891</string>
	<string>300895</string>
	<string>300905</string>
	<string>300908</string>
	<string>300910</string>
	<string>300915</string>
	<string>300940</string>
	<string>300942</string>
	<string>300946</string>
</array>
</plist>
