<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>600025</string>
	<string>600088</string>
	<string>600104</string>
	<string>600161</string>
	<string>600184</string>
	<string>600237</string>
	<string>600287</string>
	<string>600301</string>
	<string>600336</string>
	<string>600363</string>
	<string>600377</string>
	<string>600385</string>
	<string>600509</string>
	<string>600538</string>
	<string>600639</string>
	<string>600679</string>
	<string>600963</string>
	<string>600970</string>
	<string>600988</string>
	<string>601009</string>
	<string>601611</string>
	<string>601838</string>
	<string>601965</string>
	<string>603127</string>
	<string>603136</string>
	<string>603139</string>
	<string>603156</string>
	<string>603299</string>
	<string>603305</string>
	<string>603315</string>
	<string>603326</string>
	<string>603399</string>
	<string>603439</string>
	<string>603506</string>
	<string>603557</string>
	<string>603579</string>
	<string>603611</string>
	<string>603630</string>
	<string>603656</string>
	<string>603663</string>
	<string>603666</string>
	<string>603709</string>
	<string>603719</string>
	<string>603733</string>
	<string>603779</string>
	<string>603788</string>
	<string>603810</string>
	<string>603819</string>
	<string>603833</string>
	<string>603858</string>
	<string>603859</string>
	<string>603877</string>
	<string>603898</string>
	<string>603933</string>
	<string>603937</string>
	<string>603963</string>
	<string>603982</string>
	<string>603991</string>
	<string>000027</string>
	<string>000028</string>
	<string>000042</string>
	<string>000043</string>
	<string>000044</string>
	<string>000059</string>
	<string>000071</string>
	<string>000091</string>
	<string>000094</string>
	<string>000108</string>
	<string>000113</string>
	<string>000136</string>
	<string>000138</string>
	<string>000162</string>
	<string>000408</string>
	<string>000513</string>
	<string>000531</string>
	<string>000532</string>
	<string>000544</string>
	<string>000571</string>
	<string>000582</string>
	<string>000590</string>
	<string>000629</string>
	<string>000681</string>
	<string>000682</string>
	<string>000700</string>
	<string>000710</string>
	<string>000766</string>
	<string>000822</string>
	<string>000847</string>
	<string>000878</string>
	<string>000885</string>
	<string>000895</string>
	<string>000919</string>
	<string>000931</string>
	<string>000933</string>
	<string>000988</string>
	<string>000997</string>
	<string>002019</string>
	<string>002029</string>
	<string>002044</string>
	<string>002053</string>
	<string>002066</string>
	<string>002068</string>
	<string>002080</string>
	<string>002092</string>
	<string>002111</string>
	<string>002119</string>
	<string>002140</string>
	<string>002151</string>
	<string>002156</string>
	<string>002159</string>
	<string>002162</string>
	<string>002166</string>
	<string>002189</string>
	<string>002190</string>
	<string>002194</string>
	<string>002196</string>
	<string>002201</string>
	<string>002203</string>
	<string>002222</string>
	<string>002227</string>
	<string>002276</string>
	<string>002282</string>
	<string>002287</string>
	<string>002291</string>
	<string>002302</string>
	<string>002327</string>
	<string>002355</string>
	<string>002357</string>
	<string>002384</string>
	<string>002388</string>
	<string>002390</string>
	<string>002398</string>
	<string>002404</string>
	<string>002405</string>
	<string>002415</string>
	<string>002435</string>
	<string>002511</string>
	<string>002527</string>
	<string>002529</string>
	<string>002534</string>
	<string>002548</string>
	<string>002557</string>
	<string>002571</string>
	<string>002576</string>
	<string>002580</string>
	<string>002589</string>
	<string>002603</string>
	<string>002610</string>
	<string>002618</string>
	<string>002623</string>
	<string>002648</string>
	<string>002658</string>
	<string>002673</string>
	<string>002674</string>
	<string>002698</string>
	<string>002709</string>
	<string>002713</string>
	<string>002730</string>
	<string>002738</string>
	<string>002760</string>
	<string>002762</string>
	<string>002767</string>
	<string>002774</string>
	<string>002777</string>
	<string>002785</string>
	<string>002799</string>
	<string>002818</string>
	<string>002820</string>
	<string>002824</string>
	<string>002830</string>
	<string>002846</string>
	<string>002847</string>
	<string>002852</string>
	<string>002864</string>
	<string>002870</string>
	<string>002871</string>
	<string>002884</string>
	<string>002886</string>
	<string>002887</string>
	<string>002889</string>
	<string>002891</string>
	<string>002897</string>
	<string>002903</string>
	<string>002921</string>
	<string>002927</string>
	<string>002952</string>
	<string>002959</string>
	<string>002960</string>
	<string>002961</string>
	<string>002967</string>
	<string>002979</string>
	<string>002981</string>
	<string>002989</string>
	<string>002995</string>
	<string>300006</string>
	<string>300007</string>
	<string>300012</string>
	<string>300020</string>
	<string>300034</string>
	<string>300053</string>
	<string>300059</string>
	<string>300068</string>
	<string>300083</string>
	<string>300092</string>
	<string>300138</string>
	<string>300143</string>
	<string>300153</string>
	<string>300168</string>
	<string>300239</string>
	<string>300248</string>
	<string>300249</string>
	<string>300253</string>
	<string>300257</string>
	<string>300265</string>
	<string>300275</string>
	<string>300308</string>
	<string>300327</string>
	<string>300351</string>
	<string>300390</string>
	<string>300395</string>
	<string>300453</string>
	<string>300462</string>
	<string>300492</string>
	<string>300497</string>
	<string>300499</string>
	<string>300501</string>
	<string>300520</string>
	<string>300553</string>
	<string>300554</string>
	<string>300556</string>
	<string>300565</string>
	<string>300575</string>
	<string>300595</string>
	<string>300600</string>
	<string>300610</string>
	<string>300611</string>
	<string>300632</string>
	<string>300641</string>
	<string>300666</string>
	<string>300676</string>
	<string>300682</string>
	<string>300716</string>
	<string>300722</string>
	<string>300731</string>
	<string>300740</string>
	<string>300752</string>
	<string>300765</string>
	<string>300767</string>
	<string>300770</string>
	<string>300785</string>
	<string>300787</string>
	<string>300813</string>
	<string>300816</string>
	<string>300822</string>
	<string>300826</string>
	<string>300831</string>
	<string>300843</string>
	<string>300850</string>
	<string>300863</string>
	<string>300868</string>
	<string>300881</string>
	<string>300885</string>
	<string>300889</string>
	<string>300902</string>
	<string>300907</string>
	<string>300919</string>
	<string>300931</string>
	<string>300947</string>
</array>
</plist>
