<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>600009</string>
	<string>600030</string>
	<string>600036</string>
	<string>600039</string>
	<string>600055</string>
	<string>600061</string>
	<string>600071</string>
	<string>600072</string>
	<string>600080</string>
	<string>600098</string>
	<string>600107</string>
	<string>600111</string>
	<string>600114</string>
	<string>600115</string>
	<string>600195</string>
	<string>600219</string>
	<string>600235</string>
	<string>600246</string>
	<string>600258</string>
	<string>600262</string>
	<string>600288</string>
	<string>600295</string>
	<string>600298</string>
	<string>600305</string>
	<string>600316</string>
	<string>600332</string>
	<string>600337</string>
	<string>600366</string>
	<string>600377</string>
	<string>600378</string>
	<string>600391</string>
	<string>600456</string>
	<string>600470</string>
	<string>600482</string>
	<string>600538</string>
	<string>600580</string>
	<string>600594</string>
	<string>600647</string>
	<string>600697</string>
	<string>600703</string>
	<string>600720</string>
	<string>600742</string>
	<string>600746</string>
	<string>600765</string>
	<string>600773</string>
	<string>600774</string>
	<string>600800</string>
	<string>600861</string>
	<string>600862</string>
	<string>600876</string>
	<string>600880</string>
	<string>600892</string>
	<string>600893</string>
	<string>600894</string>
	<string>600926</string>
	<string>600958</string>
	<string>600980</string>
	<string>600989</string>
	<string>600998</string>
	<string>601009</string>
	<string>601100</string>
	<string>601155</string>
	<string>601225</string>
	<string>601231</string>
	<string>601311</string>
	<string>601598</string>
	<string>601615</string>
	<string>601658</string>
	<string>601688</string>
	<string>601689</string>
	<string>601890</string>
	<string>601919</string>
	<string>601965</string>
	<string>601966</string>
	<string>601990</string>
	<string>601999</string>
	<string>603045</string>
	<string>603056</string>
	<string>603063</string>
	<string>603110</string>
	<string>603126</string>
	<string>603155</string>
	<string>603161</string>
	<string>603181</string>
	<string>603185</string>
	<string>603197</string>
	<string>603199</string>
	<string>603233</string>
	<string>603277</string>
	<string>603298</string>
	<string>603300</string>
	<string>603315</string>
	<string>603317</string>
	<string>603318</string>
	<string>603333</string>
	<string>603377</string>
	<string>603396</string>
	<string>603429</string>
	<string>603505</string>
	<string>603515</string>
	<string>603517</string>
	<string>603520</string>
	<string>603556</string>
	<string>603557</string>
	<string>603565</string>
	<string>603567</string>
	<string>603568</string>
	<string>603577</string>
	<string>603583</string>
	<string>603589</string>
	<string>603599</string>
	<string>603619</string>
	<string>603639</string>
	<string>603681</string>
	<string>603712</string>
	<string>603757</string>
	<string>603768</string>
	<string>603806</string>
	<string>603815</string>
	<string>603816</string>
	<string>603819</string>
	<string>603848</string>
	<string>603866</string>
	<string>603882</string>
	<string>603896</string>
	<string>603912</string>
	<string>603969</string>
	<string>603987</string>
	<string>603990</string>
	<string>603991</string>
	<string>000012</string>
	<string>000035</string>
	<string>000039</string>
	<string>000049</string>
	<string>000072</string>
	<string>000096</string>
	<string>000098</string>
	<string>000105</string>
	<string>000111</string>
	<string>000112</string>
	<string>000113</string>
	<string>000115</string>
	<string>000120</string>
	<string>000131</string>
	<string>000137</string>
	<string>000138</string>
	<string>000146</string>
	<string>000151</string>
	<string>000401</string>
	<string>000407</string>
	<string>000416</string>
	<string>000531</string>
	<string>000538</string>
	<string>000541</string>
	<string>000555</string>
	<string>000571</string>
	<string>000601</string>
	<string>000612</string>
	<string>000615</string>
	<string>000619</string>
	<string>000677</string>
	<string>000680</string>
	<string>000697</string>
	<string>000705</string>
	<string>000708</string>
	<string>000758</string>
	<string>000768</string>
	<string>000776</string>
	<string>000779</string>
	<string>000786</string>
	<string>000805</string>
	<string>000806</string>
	<string>000807</string>
	<string>000835</string>
	<string>000892</string>
	<string>000902</string>
	<string>000913</string>
	<string>000928</string>
	<string>000929</string>
	<string>000946</string>
	<string>000951</string>
	<string>000967</string>
	<string>000970</string>
	<string>000971</string>
	<string>000974</string>
	<string>000986</string>
	<string>000993</string>
	<string>000994</string>
	<string>002027</string>
	<string>002044</string>
	<string>002050</string>
	<string>002056</string>
	<string>002064</string>
	<string>002079</string>
	<string>002080</string>
	<string>002097</string>
	<string>002107</string>
	<string>002111</string>
	<string>002124</string>
	<string>002139</string>
	<string>002152</string>
	<string>002177</string>
	<string>002182</string>
	<string>002185</string>
	<string>002189</string>
	<string>002192</string>
	<string>002198</string>
	<string>002203</string>
	<string>002211</string>
	<string>002216</string>
	<string>002229</string>
	<string>002233</string>
	<string>002240</string>
	<string>002242</string>
	<string>002249</string>
	<string>002266</string>
	<string>002287</string>
	<string>002291</string>
	<string>002312</string>
	<string>002319</string>
	<string>002332</string>
	<string>002353</string>
	<string>002361</string>
	<string>002368</string>
	<string>002371</string>
	<string>002382</string>
	<string>002391</string>
	<string>002395</string>
	<string>002407</string>
	<string>002409</string>
	<string>002413</string>
	<string>002414</string>
	<string>002423</string>
	<string>002424</string>
	<string>002428</string>
	<string>002429</string>
	<string>002435</string>
	<string>002436</string>
	<string>002444</string>
	<string>002453</string>
	<string>002456</string>
	<string>002465</string>
	<string>002502</string>
	<string>002522</string>
	<string>002540</string>
	<string>002541</string>
	<string>002548</string>
	<string>002549</string>
	<string>002550</string>
	<string>002556</string>
	<string>002569</string>
	<string>002572</string>
	<string>002577</string>
	<string>002581</string>
	<string>002584</string>
	<string>002597</string>
	<string>002612</string>
	<string>002625</string>
	<string>002635</string>
	<string>002637</string>
	<string>002648</string>
	<string>002678</string>
	<string>002701</string>
	<string>002708</string>
	<string>002713</string>
	<string>002729</string>
	<string>002741</string>
	<string>002746</string>
	<string>002758</string>
	<string>002761</string>
	<string>002773</string>
	<string>002789</string>
	<string>002790</string>
	<string>002795</string>
	<string>002800</string>
	<string>002801</string>
	<string>002810</string>
	<string>002821</string>
	<string>002824</string>
	<string>002829</string>
	<string>002833</string>
	<string>002849</string>
	<string>002858</string>
	<string>002865</string>
	<string>002867</string>
	<string>002879</string>
	<string>002885</string>
	<string>002889</string>
	<string>002895</string>
	<string>002905</string>
	<string>002907</string>
	<string>002918</string>
	<string>002920</string>
	<string>002931</string>
	<string>002951</string>
	<string>002993</string>
	<string>002996</string>
	<string>002999</string>
	<string>300019</string>
	<string>300023</string>
	<string>300030</string>
	<string>300081</string>
	<string>300086</string>
	<string>300095</string>
	<string>300099</string>
	<string>300101</string>
	<string>300114</string>
	<string>300121</string>
	<string>300204</string>
	<string>300211</string>
	<string>300222</string>
	<string>300224</string>
	<string>300226</string>
	<string>300230</string>
	<string>300242</string>
	<string>300243</string>
	<string>300255</string>
	<string>300257</string>
	<string>300271</string>
	<string>300289</string>
	<string>300295</string>
	<string>300308</string>
	<string>300313</string>
	<string>300316</string>
	<string>300322</string>
	<string>300339</string>
	<string>300345</string>
	<string>300352</string>
	<string>300358</string>
	<string>300371</string>
	<string>300373</string>
	<string>300374</string>
	<string>300390</string>
	<string>300396</string>
	<string>300398</string>
	<string>300402</string>
	<string>300409</string>
	<string>300415</string>
	<string>300416</string>
	<string>300427</string>
	<string>300436</string>
	<string>300438</string>
	<string>300454</string>
	<string>300466</string>
	<string>300481</string>
	<string>300492</string>
	<string>300496</string>
	<string>300499</string>
	<string>300511</string>
	<string>300517</string>
	<string>300518</string>
	<string>300529</string>
	<string>300545</string>
	<string>300556</string>
	<string>300560</string>
	<string>300570</string>
	<string>300597</string>
	<string>300607</string>
	<string>300611</string>
	<string>300617</string>
	<string>300618</string>
	<string>300620</string>
	<string>300628</string>
	<string>300638</string>
	<string>300641</string>
	<string>300644</string>
	<string>300677</string>
	<string>300681</string>
	<string>300701</string>
	<string>300709</string>
	<string>300711</string>
	<string>300731</string>
	<string>300748</string>
	<string>300750</string>
	<string>300759</string>
	<string>300773</string>
	<string>300782</string>
	<string>300786</string>
	<string>300818</string>
	<string>300823</string>
	<string>300835</string>
	<string>300836</string>
	<string>300842</string>
	<string>300882</string>
	<string>300894</string>
	<string>300896</string>
	<string>300910</string>
	<string>300932</string>
	<string>300940</string>
	<string>300942</string>
	<string>300999</string>
</array>
</plist>
